<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.com.project04.prj04.mapper.AreaCodeMapper">

    <insert id="insertItem" parameterType="map">
        INSERT INTO area_code (
            code,
            name
        ) VALUES (
            #{code},
            #{name}
        )
    </insert>

</mapper>