<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.com.project04.prj04.mapper.AreaBasedMapper">

    <insert id="insertBasedItem" parameterType="map">
        INSERT INTO area_based (
            contentid,
            title,
            addr1,
            areacode,
            firstimage,
            heart,
            cat1
        ) VALUES (
            #{contentid},
            #{title},
            #{addr1},
            #{areacode},
            #{firstimage},
            0,
            #{cat1}
        )
    </insert>

</mapper>